.navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navbar-brand {
    margin-right: 50px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
  
  .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.5);
  }

  .btn-salvar {
    background-color: #f8f9fa;
    color: #000;
    border-color: #f8f9fa;
  }
  
  .btn-salvar:hover {
    background-color: #e9ecef;
  }
  

  .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  .footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  